# 🔗 Pyrogram + Telegram crypto
pyrogram==2.0.106
tgcrypto==1.2.5

# 🗃️ MongoDB
pymongo==4.6.3
motor==3.4.0
dnspython==2.6.1

# 🌐 Web Server
Flask==3.0.3
gunicorn==22.0.0
aiohttp==3.9.5

# ⏱️ Scheduling (Uptime)
apscheduler==3.10.4

# 🔤 Optional SpellChecker 1 (/spell1)
pyspellchecker==0.7.0

# 🧠 Optional SpellChecker 2 (/spell2)
fuzzywuzzy==0.18.0
python-Levenshtein==0.21.1
